<a href="https://colab.research.google.com/github/workprofile1/ProgrammingAI/blob/main/lab_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Quiz-2**

Perform following tasks on the provided Reviews Dataset.
* Drop words if not alphabets.
* Tokenize the sentence.
* Perform lemitization.
* Vectorize using bigram and trigram techniques.
* Apply Random Forest algorithm with 150 trees.
* Evaluate overall accuracy of the model and class-wise precision .

In [ ]:
!pip install Kaggle

Requirement already satisfied: Kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from Kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from Kaggle) (2024.12.14)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from Kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from Kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from Kaggle) (4.67.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from Kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from Kaggle) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from Kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->Kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->Kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->Kaggle) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->Kaggle) (3.10)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_original=pd.read_csv('/content/reviews_dataset.csv')

In [ ]:
df_original.shape

(2225, 2)

In [ ]:
df=df_original.copy()

In [ ]:
df.head()

                                                news      type
0  China had role in Yukos split-up\n \n China le...  business
1  Oil rebounds from weather effect\n \n Oil pric...  business
2  Indonesia 'declines debt freeze'\n \n Indonesi...  business
3  $1m payoff for former Shell boss\n \n Shell is...  business
4  US bank in $515m SEC settlement\n \n Five Bank...  business

# **1.**

In [ ]:
def drop_not_alpha(text):

  return ' '.join([word for word in text.split() if word.isalpha()])

In [ ]:
df['news']

0       China had role in Yukos split-up\n \n China le...
1       Oil rebounds from weather effect\n \n Oil pric...
2       Indonesia 'declines debt freeze'\n \n Indonesi...
3       $1m payoff for former Shell boss\n \n Shell is...
4       US bank in $515m SEC settlement\n \n Five Bank...
                              ...
2220    Microsoft launches its own search\n \n Microso...
2221    Warnings about junk mail deluge\n \n The amoun...
2222    Microsoft gets the blogging bug\n \n Software ...
2223    Gamers snap up new Sony PSP\n \n Gamers have b...
2224    Apple laptop is 'greatest gadget'\n \n The App...
Name: news, Length: 2225, dtype: object

In [ ]:
df['news']=df['news'].apply(drop_not_alpha)

In [ ]:
df['news']

0       China had role in Yukos China lent Russia to h...
1       Oil rebounds from weather effect Oil prices re...
2       Indonesia debt Indonesia no longer needs the d...
3       payoff for former Shell boss Shell is to pay t...
4       US bank in SEC settlement Five Bank of America...
                              ...
2220    Microsoft launches its own search Microsoft ha...
2221    Warnings about junk mail deluge The amount of ...
2222    Microsoft gets the blogging bug Software giant...
2223    Gamers snap up new Sony PSP Gamers have bought...
2224    Apple laptop is The Apple Powerbook has been c...
Name: news, Length: 2225, dtype: object

# **2.**

In [ ]:
import nltk
nltk.download('punkt_tab')
from nltk.tokenize import sent_tokenize

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [ ]:
def sent_token_(text):
  return ' '.join(sent_tokenize(text))

In [ ]:
df['news']=df['news'].apply(sent_token_)

In [ ]:
df['news']

0       China had role in Yukos China lent Russia to h...
1       Oil rebounds from weather effect Oil prices re...
2       Indonesia debt Indonesia no longer needs the d...
3       payoff for former Shell boss Shell is to pay t...
4       US bank in SEC settlement Five Bank of America...
                              ...
2220    Microsoft launches its own search Microsoft ha...
2221    Warnings about junk mail deluge The amount of ...
2222    Microsoft gets the blogging bug Software giant...
2223    Gamers snap up new Sony PSP Gamers have bought...
2224    Apple laptop is The Apple Powerbook has been c...
Name: news, Length: 2225, dtype: object

# **3.**

In [ ]:
from nltk.stem import WordNetLemmatizer

In [ ]:
nltk.download('WordNetLemmatizer')

nltk.download('wordnet')

[nltk_data] Error loading WordNetLemmatizer: Package
[nltk_data]     'WordNetLemmatizer' not found in index
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
lemmetizer=WordNetLemmatizer()

In [ ]:
def stem_word(text):
  return [lemmetizer.lemmatize(word) for word in text.split()]

In [ ]:
df['news']=df['news'].apply(stem_word)

In [ ]:
df['news']

0       [China, had, role, in, Yukos, China, lent, Rus...
1       [Oil, rebound, from, weather, effect, Oil, pri...
2       [Indonesia, debt, Indonesia, no, longer, need,...
3       [payoff, for, former, Shell, bos, Shell, is, t...
4       [US, bank, in, SEC, settlement, Five, Bank, of...
                              ...
2220    [Microsoft, launch, it, own, search, Microsoft...
2221    [Warnings, about, junk, mail, deluge, The, amo...
2222    [Microsoft, get, the, blogging, bug, Software,...
2223    [Gamers, snap, up, new, Sony, PSP, Gamers, hav...
2224    [Apple, laptop, is, The, Apple, Powerbook, ha,...
Name: news, Length: 2225, dtype: object

# **4.**

In [ ]:
df['news']=df['news'].apply(lambda x: ' '.join(x))## error due to list

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
#bigrams
cv=CountVectorizer(ngram_range=(2,3))

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(df['news'],df['type'],test_size=0.2,random_state=42)

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
Y = encoder.fit_transform(y_train)

In [ ]:
Y

array([3, 4, 3, ..., 2, 2, 1])

In [ ]:
X_features=cv.fit_transform(X_train)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
rf=RandomForestClassifier(n_estimators=150)

In [ ]:
model=rf.fit(X_features,Y)

# **5.**

In [ ]:
Y_true= encoder.fit_transform(y_test)

In [ ]:
testing_feathures=cv.transform(X_test)

In [ ]:
model.score(testing_feathures,Y_true)

0.8337078651685393

# **Cls wise Report**

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
cp=classification_report(Y_true,model.predict(testing_feathures))

In [ ]:
cp

'              precision    recall  f1-score   support\n\n           0       0.79      0.91      0.85       115\n           1       0.95      0.56      0.70        72\n           2       0.94      0.82      0.87        76\n           3       0.73      1.00      0.84       102\n           4       0.97      0.78      0.86        80\n\n    accuracy                           0.83       445\n   macro avg       0.88      0.81      0.83       445\nweighted avg       0.86      0.83      0.83       445\n'